.MovixLandingContainer{
    background-color: #23838e;
    display: flex;
    flex-direction: column;
}

.MovixLandingContainer .App-header {
    background-color: #363333; 
}

.author{
    position: absolute;
    bottom: 25px;
    z-index: 5;
    margin-left: 22%;
    margin-right: 22%;
}

.author, .authorName{
    color: #23838e
}

.authorName:hover {
    text-decoration: underline;
}

.movixAboutContainer{
    display: flex;
    margin-top: 0px;
    background-color: #23838e;
    height: auto; 
    align-items: center;
    justify-content: center;
}

.movixAboutContent {
    width: 55%
}

.movixFooter {
    z-index: 10; 
    position: sticky; 
    bottom: 0px;
}

.MovixLandingContainer footer {
    background-color: transparent;
    text-align: unset;
    padding: 0
}

.movixAboutContent h2 {
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
}

.movixAboutContent details {
    color: #FFFFFF;
    margin-bottom: 25px;
}

.movixAboutContent summary{
    font-size: xx-large;
}

.movixAboutContent a {
    color:#2AC6D8;
}

.movixForm{
    width: 45%;
}

.movixFormContainer h2 {
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
}

.movixForm label{
    color: #FFFFFF;
}

.movixFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-row{
    margin-bottom: 25px;
    width: 100%;
}

.form-row select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
} 

.form-row textarea {
    border-color: #2AC6D8;
    color: #FFFFFF;
    width: 100%;
    padding: 7px 0px 7px 0px;
    font-size: small;
    border-width: 0px;
    background-color: #2AC6D8;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
    padding-left: 5px;
}

.form-row input, .form-row select{
    width: 100%;
    padding: 7px 0px 7px 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    border-color: #2AC6D8;
    color: #FFFFFF;
}

.form-row input{
    text-indent: 5px;
}

.form-button-row{
    align-items: center;
    justify-content: center;
    display: flex;
}

.form-button-row button {
    width: 150px;
    color: #FFFFFF;
    border-radius: 4px;
    height: 50px;
    background-color: #2AC6D8;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form-button-row button:hover{
    box-shadow: none;
    transform: scale(1.1);
}

.movixFormResult {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
}

.movixFormResult span {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    font-size: medium;
    width: 95%;
    text-align: center;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .movixAboutContent {
        width: 65%
    }

    .movixAboutContent summary{
        font-size: large;
    }

    .movixFooter {
        z-index: 10; 
        bottom: 0;
        position: relative;
    }

    .author{
        position: absolute;
        bottom: 0px;
        font-size: x-small;
        z-index: 5;
        margin-left: 17.5%;
    }

    .movixForm{
        width: 65%;
    }
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .movixAboutContent, .movixForm {
        width: 65%
    }

    .movixAboutContent summary{
        font-size: x-large;
    }

    .movixFooter {
        z-index: 10; 
        bottom: 0;
        position: relative;
    }

    .author{
        position: absolute;
        bottom: 0px;
        font-size: small;
        z-index: 5;
        margin-left: 17.5%;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .MovixLandingContainer .App-header .menu, .movixForm {
        max-width: 55%;
        width: 55%;
    }
    .movixAboutContent {
        width: 55%
    }

    .movixFooter {
        z-index: 10; 
        bottom: 0;
        position: sticky;
    }

    .author{
        position: absolute;
        bottom: 0px;
        font-size: small;
        z-index: 5;
        margin-left: 17.5%;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .MovixLandingContainer .App-header .menu {
        max-width: 45%;
        width: 45%;
    }

    .movixAboutContent, .movixForm {
        width: 45%
    }

    .movixFooter {
        z-index: 10; 
        bottom: 0;
        position: sticky;
    }

    .author{
        position: absolute;
        bottom: 0px;
        font-size: larger;
        z-index: 5;
        margin-left: 27.3%;
    }

    .movixAboutContent summary{
        font-size: x-large;
    }
 } 